@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

canvas {
    height: 40vh !important
}

body {
    font-family: 'Manrope', sans-serif;
}

.swipe-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #181a1e !important;
    opacity: 100% !important;
    background: #fff !important
}

.swipe-pagination-bullet-active{
    background: #1E90FF !important;
    border: none !important;
}

.swiper{
    padding-bottom: 70px !important;
}

.swiper-slide.swiper-slide-next{
    background: #1E90FF;
    border-radius: 12px;
    box-shadow: 0px 20px 70px rgba(0, 103, 255, 0.3) !important;
}

.swiper-slide.swiper-slide-next h4,
.swiper-slide.swiper-slide-next p,
.swiper-slide.swiper-slide-next blockquote {
    color: #fff !important;
}


.swiper-pagination{
    top: 90px !important;
}

@layer base{
    section{
        @apply py-[75px]
    }
}

@layer components{
    .container{
        @apply max-w-full w-[1440px] px-5 mx-auto
    }

    .btn{
        @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
        /* Adaugă regulile pentru hover aici */
        @apply hover:scale-105 transition-transform duration-300 ease-in-out;
    }

    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-headingColor
    }

    .text__para{
        @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px]
    }

    .header{
        @apply bg-[url('/mask.png')] bg-no-repeat bg-center bg-cover w-full h-[100px] ;
        }

    .hero__section{
        @apply bg-[url('/hero-bg.png')] bg-no-repeat bg-center bg-cover;
    }

    .form__label{
        @apply text-textColor font-semibold text-[16px] leading-7 mb-2
    }

    .form__input{
        @apply w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none  
        focus:border-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor cursor-pointer rounded-md;
    }
}

@media only screen and (max-width:1024px){
    .container{
        @apply w-full
    }

    section{
        @apply py-[35px]
    }
}



.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: white;
    left: 0;
    z-index: 999;
    background-image: url('/mask.png'); /* Setează imaginea de fundal */
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 3px 3px -8px 3px #ddd;
  
}
   
  @media only screen and (max-width:768px){
    .heading {
        @apply text-[26px] leading-[36px];
    }
  
    .text__para {
        @apply text-[16px] leading-7 mt-3;
    }

    .navigation{
        width: 100px; 
        height: 100px; 
        position: fixed;
        top: 0;
        z-index: 100;
      
        display: none;
    }
      
    .navigation.show__menu {
        display: block;
        width: 100vw; 
        height: 100vh;
        position: fixed; 
        top: 0;
        left: 0; 
        background: #00000084; 
        z-index: 100;
       
    }

      
    .menu {
        @apply w-60 h-screen; /* Aceasta este o alternativă la setarea manuală a lățimii și înălțimii */
        @apply absolute top-0 right-0;
        @apply bg-white;
        @apply z-50; /* Asigurați-vă că acest z-index este suficient de mare pentru a fi deasupra celorlalte elemente */
        @apply flex flex-col;
        @apply justify-center items-center;
        @apply overflow-auto;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 2s ease forwards;
    animation-delay: 4s; /* Adăugăm un delay de 1 secundă */
}

@keyframes slideInFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100px); /* Începe de la 50px la stânga poziției inițiale */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Se termină la poziția inițială */
    }
}
.animate-slideIn, .animate-slideInFromLeft {
    opacity: 0; /* Setează elementele să fie inițial invizibile */
}

.animate-slideInFromLeft {
    animation: slideInFromLeft 2s ease forwards;
    animation-delay: 1s; /* Delay-ul este de 1 secundă */
}

.visible {
    visibility: visible;
    opacity: 1;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}
